# Secrets and local configurations
.env
*.env
.env.*
!*.env.example

# Node modules (for frontend build)
node_modules/
.next/
out/
build/

# Local databases and caches
*.db
*.sqlite
**/database/

# OS specific files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.sw?

# Python environments and compilation
.venv/
__pycache__/
*.pyc
.pytest_cache/

